<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Майнинг бот</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Салатинг</h1>
        <div id="mining-status">Салаты: {{ salad_count }} | Энергия: {{ energy }}/{{ energy_limit }} | Множитель: {{ multiplier }}</div>
        <div id="energy-bar-container">
            <div id="energy-bar"></div>
        </div>
        <div id="energy-price">Цена энергии: {{ energy_price }}</div>
        <div id="multiplier-price">Цена множителя: {{ multiplier_price }}</div>
        <button id="start-mining">Кушать салат</button>
        <button id="buy-energy">Повысить лимит энергии ✨</button>
        <button id="buy-multiplier">Купить множитель</button>
    </div>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
