body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 400px; /* Максимальная ширина контейнера */
    width: 80%;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex; /* Добавлено */
    flex-direction: column; /* Добавлено */
    align-items: center; /* Добавлено */
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

#energy-bar-container {
    margin-top: 10px;
    height: 20px;
    width: 100%; /* Добавлено */
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
}

#energy-bar {
    height: 100%;
    width: 0%; /* Изначально нулевая ширина */
    background-color: #4caf50;
}
